<section class="page__mysteries mysteries">
    <div class="mysteries__container">
        <div class="mysteries__title">
                <span></span>
                <p></p>
        </div>
        <div class="mysteries__mystery"></div>
    </div>
</section>