<section class="page__mysteries mysteries">
    <div class="mysteries__container">
        <div class="mysteries__title">The Joyful Mysteries</div>
        <div class="mysteries__mystery">1. The Annunciation</div>
    </div>
</section>