<section class="page__prayer prayer">
    <div class="prayer__grid">
        <div class="prayer__content">
            <div class="prayer__item">
                <h3 class="prayer__title">Apostle's Creed</h3>
                <blockquote class="prayer__text">
                    <p>
                        I believe in God, the Father Almighty,
                        Creator of Heaven and Earth.
                        I believe in Jesus Christ, His only Son, our Lord,
                        Who was conceived by the Holy Spirit,
                        born of the Virgin Mary,
                        suffered under Pontius Pilate,
                        was crucified, died, and was buried;
                        He descended into Hell;
                        on the third day, He rose again from the dead;
                        He ascended into Heaven,
                        and is seated at the right hand of God, the Father Almighty;
                        from there He will come to judge the living and the dead.

                        I believe in the Holy Spirit,
                        the holy Catholic Church,
                        the communion of saints,
                        the forgiveness of sins,
                        the resurrection of the body,
                        and life everlasting. Amen.
                    </p>
                </blockquote>
            </div>
        </div>
        <div class="prayer__rosary rosary">
            <div class="rosary__body">
                <div class="rosary__start">
                    <div class="rosary__cross _icon-cross">
                    </div>
                </div>
                <div class="rosary__bead--larger"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead--larger"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead--larger"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead--larger"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead--larger"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead--larger"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>

            </div>
        </div>
</section>