<section class="page__prayer prayer">
    <div class="prayer__grid">
        <div class="prayer__content">
            <div class="prayer__count count">
                <div class="count__item">
                    <span class="prayer__left"></span>
                    <span>/</span>
                    <div class="prayer__total"></div>
                </div>
            </div>
            <div class="prayer__item">
                <h3 class="prayer__title"></h3>
                <blockquote class="prayer__text">
                    <p>
                    </p>
                </blockquote>
            </div>
        </div>
        <div class="prayer__rosary rosary">
            <div class="rosary__body">
                <div class="rosary__start">
                    <div class="rosary__cross _icon-cross">
                    </div>
                </div>
                <div class="rosary__bead--larger "></div>
                <div class="rosary__bead "></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead--larger"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead "></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead--larger"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead--larger"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead--larger"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead--larger"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>
                <div class="rosary__bead"></div>

            </div>
        </div>
</section>