@use "../abstract/vars" as *;
@use "../abstract/mixins" as *;

/*
   ==== Prayer ====
*/
.prayer {
    // .preyer__count
    &__count {
      opacity: 0;
      visibility: hidden;
      display: flex;
      align-items: center;
      gap: rem(30);
      position: absolute;
      top: rem(15);
      right: rem(15);
      color: var(--light-blue);

      @media (max-width: $breakpoint768){
        top: rem(10);
        right: rem(10);
      }

      &.active {
        opacity: 1;
        visibility: visible;
      }
    }

  
    // .preyer__left
    &__left,
    &__total,
    &__left--extra,
    &__total--extra {
      font-size: rem(20);
    }
  
    // .preyer__total
    &__total {

    }
  // .prayer__grid
  &__grid {
    display: grid;
    grid-template-columns: 80% 1fr;

    @media (min-width: $breakpoint992) {
      grid-template-columns: 1fr 1fr;
    }
  }

  // .prayer__content

  &__content {
    position: relative;
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include adaptiveValue('gap',50,30);
    @include adaptiveValue("padding", 150, 25);
    border-right: 1px solid var(--dark-blue);

    @media (max-width: $breakpoint768){
     justify-content:flex-start;
    
    }
  }

  // .prayer__item
  &__item {

    @media (max-width: $breakpoint768){
     &::first-letter {
      margin-top: rem(40);
     }
    }
  }

  // .prayer__title
  &__title {
    @include adaptiveValue("font-size", 40, 30);
    margin-bottom: calc(15 / 40) * 1em;
    color: var(--dark-blue);
    position: relative;
  }

  // .prayer__text
  &__text {
    @include adaptiveValue("font-size", 20, 18);
    line-height: 120%;
    color: var(--body-co);
    font-weight: var(--fw-light);

    @media (min-width: $breakpoint768) {
      line-height: 150%;
    }
  }

  // .prayer__rosary

  &__rosary {
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    @include adaptiveValue("padding-bottom", 30, 15);
  }
}
.rosary {
  // .rosary__body
  &__body {
    margin-bottom: rem(60);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  // .rosary__start
  &__start {
  }

  // .rosary__cross
  &__cross {
    cursor: pointer;

    &::before {
      color: var(--light-blue);
      @include adaptiveValue("font-size", 120, 60);
    }

    &.done {
      &::before {
        color:  var(--done-co);
      }
    }
  }
  &__bead--larger,
  &__bead {
    margin-bottom: rem(10);
    border-radius: 50%;
    cursor: pointer;

    &.done {
      background-color: var(--done-co);
    }
  }
  // .rosary__bead
  &__bead {
    @include adaptiveValue("width", 40, 30);
    @include adaptiveValue("height", 40, 30);
    background-color: var(--light-blue);


  }

  // .rosary__bead--larger
  &__bead--larger {
    @include adaptiveValue("width", 50, 40);
    @include adaptiveValue("height", 50, 40);
    background-color: var(--dark-blue);
  }
}


.count {

  // .count__item
  &__item,
  &__item--extra {
    display: flex;
    align-items: center;
    gap: rem(5);
    justify-content: center;
  }
}

