<!-- Header -->
<header class="header">
    <div class="header__container">
        <div class="header__total _icon-rosary">
            <span class="header__amount">0</span>
        </div>
        <div class="header__title">Daily Rosary</div>
        <div class="header__lng">
            <form class="header__form">
                <select class="header__select" id="language-select" name="language">
                    <option selected="select" value="en">EN</option>
                    <option  value="fr">LT</option>
                </select>
            </form>
        </div>
    </div>
</header>

