/*
  ==== Fonts ====
*/

:root{
  --ff-main: 'Raleway', sans-serif;
  --ff-secondary: 'Nanum Myeongjo', serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fs-body: 1rem;
}

